body {
    margin: 0 auto;
    background: url('images/calvin-and-hobbes-abstract.png') no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: "Calvin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
@font-face {
    font-family: "Calvin";
    src: url(fonts/calvin.ttf);
}
.header {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.55);
    text-align: center;
}
.header > p {
    font-size: 1em;
}
.stats-area {
    box-sizing: border-box;
    margin: 0 auto;
    width: 85%;
    font-size:0;
}
.stats-area > * {
    font-size: 18px;
    vertical-align: top;
    text-align: center;
}
.stats-area div {
    margin: 0 auto;
    display: inline-block;
    width: 20%;
}
.reset-button {
    transition: all .2s ease-in-out;
}
.reset-button:hover {
    transform: scale(1.2);
    color: #cd0000;
    cursor: pointer;
}
.reset-button:active {
    transform: scale(1.25);
    color: #cd0000;
    cursor: pointer;
}
.container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 85%;
    height: 90%;
    font-size: 0;
    padding: 10px;
    text-align: center;
}
.container > * {
    font-size: 1rem;
}
.game-area {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    font-size: 0;
}
.game-area > * {
    font-size: 1rem;
}
.card-container {
    position: relative;
    background-color: transparent;
    width: 16.66%;
    height: 33.33%;
    display: inline-block;
    transition: all .1s ease-in-out;
}
.card-container:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.card {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 87%;
    width: 87%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 6px 6px 6px 0 rgba(0,0,0,0.5);
}
.front, .front > img, .back{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    left: 0;
    top: 0;
}
.back {
    /*background-color: rgba(255, 255, 255, 0.75);*/
    content:url('images/cardback.png');
}
@media screen and (min-width: 580px) {
    .header > p {
        font-size: 2rem;
    }
    .header {
        height: 8%;
    }
    .container {
        height: 92%;
    }
}